# Java / Spring Boot
target/
*.class
*.jar
*.war
.env
application-local.properties
application-local.yml

# Frontend
node_modules/
dist/
.env.local
.env.production

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Logs
*.log
logs/